AddDefaultCharset UTF-8
AddCharset UTF-8 .html

<IfModule mod_headers.c>
Header always set X-FRAME-OPTIONS "DENY"
</IfModule>

<IfModule mod_headers.c>
Header always set X-Content-Type-Options "nosniff"
</IfModule>

default-src 'self';
script-src 'report-sample' 'self';
style-src 'report-sample' 'self' https://fonts.googleapis.com;
object-src 'none';
base-uri 'self';
connect-src 'self';
font-src 'self' https://fonts.gstatic.com;
frame-src 'self';
img-src 'self' https://img.icons8.com;
manifest-src 'self';
media-src 'self';
report-uri https://5fb950b247ef7c02ddc10c64.endpoint.csper.io/;
worker-src 'none';

<IfModule mod_headers.c>
Header set Content-Security-Policy "script-src 'self' https://www.google.com"
</IfModule>