@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:700&display=swap");

#page-top {
  background: rgb(133, 133, 133);
}

h1.font1 {
  font-family: Julius Sans One;
  font-weight: 400;
  letter-spacing: 67px;
  font-size: 85px;
  text-align: center;
}

h1.font2 {
  font-family: Righteous;
  font-weight: 400;
  letter-spacing: 32px;
  font-size: 145px;
}

.font3 {
  font-family: Nunito;
  text-align: center;
}

.tailled {
  width: 720px;
  height: 475px;
}

body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ffffff;
}
body::-webkit-scrollbar-thumb {
  background-color: #141414;
  outline: 1px solid rgb(0, 0, 0);
}

.tag-anim {
  transition: all 250ms ease;
}

.tag-anim:hover {
  background-color: rgba(0, 0, 0, 0.849);
  color: rgb(255, 255, 255);
}

.button-anim {
  transition: all 250ms ease;
}

.button-anim:hover {
  transform: scale(1.05);
  background-color: rgba(34, 60, 116, 0.219);
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
}

.social-anim:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.06);
  color: white;
  cursor: pointer;
}

.social-anim {
  transition: all 250ms ease;
}

.tuile-anim:hover {
  background-color: rgb(61, 61, 61);
  transform: scale(1.06);
  color: white;
  cursor: pointer;
}

.tuile-anim {
  transition: all 250ms ease;
}

#slider img {
  background-size: cover;
  height: 530px;
  width: 750px;
}

#slider {
  background: #000;
  border: 5px solid #0e0e0e;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  height: 470px;
  width: 720px;
  margin: 20px auto 0;
  overflow: visible;
  position: relative;
}
#mask {
  overflow: hidden;
  height: 460px;
}
#slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}
#slider li {
  height: 470px;
  width: 680px;
  position: absolute;
  top: -325px;
  list-style: none;
}
#slider li.first {
  -moz-animation: cycle 25s linear infinite;
  -webkit-animation: cycle 25s linear infinite;
}
#slider li.second {
  -moz-animation: cycletwo 25s linear infinite;
  -webkit-animation: cycletwo 25s linear infinite;
}
#slider li.third {
  -moz-animation: cyclethree 25s linear infinite;
  -webkit-animation: cyclethree 25s linear infinite;
}

#slider li.fourth {
  -moz-animation: cyclefour 25s linear infinite;
  -webkit-animation: cyclefour 25s linear infinite;
}
#slider li.fifth {
  -moz-animation: cyclefive 25s linear infinite;
  -webkit-animation: cyclefive 25s linear infinite;
}

#slider:hover li,
#slider:hover .progress-bar {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
.progress-bar {
  position: relative;
  top: -5px;
  width: 680px;
  height: 10px;
  background: white;
  -moz-animation: fullexpand 25s ease-out infinite;
  -webkit-animation: fullexpand 25s ease-out infinite;
}

/* ANIMATION */
@-moz-keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@-moz-keyframes cycletwo {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}
@-moz-keyframes cyclethree {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}
@-moz-keyframes cyclefour {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}
@-moz-keyframes cyclefive {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}

@-webkit-keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes cycletwo {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes cyclethree {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes cyclefour {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes cyclefive {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}

/* ANIMATION BAR */
@-moz-keyframes fullexpand {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    width: 0%;
    opacity: 0;
  }
  4%,
  24%,
  44%,
  64%,
  84% {
    width: 0%;
    opacity: 0.3;
  }
  16%,
  36%,
  56%,
  76%,
  96% {
    width: 100%;
    opacity: 0.7;
  }
  17%,
  37%,
  57%,
  77%,
  97% {
    width: 100%;
    opacity: 0.3;
  }
  18%,
  38%,
  58%,
  78%,
  98% {
    width: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes fullexpand {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    width: 0%;
    opacity: 0;
  }
  4%,
  24%,
  44%,
  64%,
  84% {
    width: 0%;
    opacity: 0.3;
  }
  16%,
  36%,
  56%,
  76%,
  96% {
    width: 100%;
    opacity: 0.7;
  }
  17%,
  37%,
  57%,
  77%,
  97% {
    width: 100%;
    opacity: 0.3;
  }
  18%,
  38%,
  58%,
  78%,
  98% {
    width: 100%;
    opacity: 0;
  }
}
