@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #001933;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 25px;
  margin-top: 30%;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #f5faff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -20px;
  transition: all 0.5s ease-in-out;
  font-weight: 100;
  font-family: Montserrat, sans-serif;
}

.sidebar-nav #langue .francais li a {
  margin-top: 40%;
  background: #001933;
  font-size: 20px;
  opacity: 0.4;
  background-position: 10px 0px;
  transition: ease-in-out 0.2s all;
}

.sidebar-nav #langue .anglais li a {
  background: #001933;
  font-size: 20px;
  opacity: 0.4;
  background-position: 10px 50%;
}

.sidebar-nav #langue .francais li a:hover {
  background-image: url("../../assets/img/fr.jpg");
  opacity: 0.4;
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  text-shadow: 0px 0px 15px #001933;
}

.sidebar-nav #langue .anglais li a:hover {
  background-image: url("../../assets/img/en.jpg");
  opacity: 0.4;
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  text-shadow: 0px 0px 15px #001933;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #f5faff;
  background: #007fff;
  letter-spacing: 1px;
  cursor: pointer;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #f5faff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #f5faff;
  background: none;
}

.sidebar-nav > .sidebar-brand span {
  margin-left: -5px;
  color: #f5faff;
  font-weight: bold;
  letter-spacing: 15px;
}

@media (min-width: 1060px) {
  #wrapper {
    padding-left: 250px;
  }
}

@media (min-width: 1060px) {
  #sidebar-wrapper {
    width: 250px;
  }
}

/* width */
#wrapper::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#wrapper::-webkit-scrollbar-track {
  background-color: #001933;
}

/* Handle */
#wrapper::-webkit-scrollbar-thumb {
  background: #001933;
}

/* Handle on hover */
#wrapper::-webkit-scrollbar-thumb:hover {
  background: #001933;
  box-shadow: 0px 5px 10px #001933;
}
