@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

.rambla {
  font-family: "Josefin Sans", sans-serif;
}

.visage {
  margin-top: -10px;
  margin-left: -15px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #001933;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #007fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0059b3;
  box-shadow: 0px 5px 10px black;
}

.decale {
  margin-top: 25%;
  margin-left: 0%;
}

#hero .bouton {
  background: rgba(238, 130, 238, 0);
  box-shadow: 0px 0px 0px 2px white;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 70%;
  font-size: 30px;
}

#hero .bouton:hover {
  background: #007fff;
}

.hero {
  font-family: "Montserrat", sans-serif;
}

.bg1 {
  background-image: url("../../assets/img/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.45);
  background-blend-mode: darken;
}

@media only screen and (max-width: 1350px) {
  .decale {
    margin-top: 45%;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 1350px) {
  .decale {
    margin-top: 15%;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 875px) {
  .decale {
    margin-top: 45%;
    margin-left: 0%;
  }
  #hero .bouton {
    display: none;
  }
}

@media only screen and (max-width: 1060px) {
  .attention {
    display: none;
  }
}

@media only screen and (max-width: 368px) {
  .reduit {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .recentre {
    margin-left: 4%;
  }
  .decale {
    margin-top: 8%;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 451px) {
  .decale {
    margin-top: 13%;
    margin-left: 0%;
  }
}

.adjust {
  width: 100px;
  margin-top: 20px;
  margin-left: -18px;
}

@media only screen and (max-width: 415px) {
  .disparait {
    display: none;
  }
}

#link a:link {
  color: #f5faff;
}

@media only screen and (min-width: 416px) {
  .apparait {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {
  .reduise {
    font-size: 12px;
  }
}

@media only screen and (max-width: 993px) {
  .reduit {
    font-size: 20px;
  }
}
