@font-face {
  font-family: "WashYourHand";
  src: url(../fonts/WashYourHand.ttf);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:hover {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f55656;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000069;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b84141;
  box-shadow: 0px 5px 10px white;
}

.titre {
  letter-spacing: 10px;
  color: #f55656;
  font-size: 80px;
  margin-top: -20px;
  text-align: center;
  font-family: WashYourHand;
}

.titre2 {
  letter-spacing: 6px;
  color: #fff;
  font-size: 60px;
  margin-top: -20px;
  text-align: center;
}

@media (max-width: 1199px) {
  .degage {
    visibility: hidden;
    max-width: 15px;
  }
}

@media (max-width: 440px) {
  .titre {
    font-size: 40px;
  }

  .titre2 {
    font-size: 30px;
    margin-top: 5%;
  }
}

.ptit {
  font-size: 10px;
  margin-bottom: 0px;
}

.serrer {
  margin: 0;
  padding: 0;
  margin-top: -20px;
}

.lefted {
  margin-right: 80px;
}
